.divCiudad{
    border-radius: 30px;
    border-color: white;
    box-shadow: 0 0 10px 5px rgb(90, 89, 89);
    color: white;    
    background-color: black;    
    border: 1px solid rgba(136, 101, 206, 0);
    margin-top: 20px;
    width: 300px;
    height: 300px;
    font-style: italic;
    font-size: medium;
    padding: 10px;
}
